@using LibraryMySql.Models
@model LoginOutputModel; 

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@ViewBag.o.EmpFirstNm <span> &nbsp; </span>
@ViewBag.o.EmpLastNm <span> &nbsp; </span>
@ViewBag.o.EmpMidNm <span> &nbsp; </span>
@ViewBag.o.DateHired<span> &nbsp; </span>
<br /> ==> : 

@ViewBag.o.IsResigned<span> : Is Resigned </span>


<br />


 
<span> This is loginpis </span>
 